<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="IrisFSRepoLog.ZPM">
    <Module>
      <Name>IrisFSRepoLog</Name>
      <ExternalName>FHIRServerLogs</ExternalName>
      <Version>1.0.3</Version>
      <Description>IrisFSRepoLog</Description>
      <Keywords>FHIR, Logs, FHIR Foundation, FHIR Server</Keywords>
      <Packaging>module</Packaging>
      <Resource Name="HSFiles.PKG"/>
      <LifecycleClass>%IPM.Lifecycle.Module</LifecycleClass>
    </Module>
  </Document>
</Export>
